.game-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgb(44, 83, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 150px;
        height: 240px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px)
    }
}

.played-card {
    right: 20px;
    transform: scale(1.2) translate(160px, -180px) rotate(-10deg);
}


.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.2) translate(160px, -180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1) translateY(-10px);
    }
    40% {
        transform: scale(1.6) translateY(-10px);
    }
    60% {
        transform: scale(1.6) translateY(-10px);
    }
    100% {
        transform: scale(1.2) translate(160px, -180px) rotate(-10deg);
    }

}

.player-position {
    position: absolute;
    right: 0px;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}